---
layout: default
seo:
    title: About
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
about-copy_html: |
  My name is Nance Leombruno, born and raised in Amsterdam, The Netherlands, living a magical life surrounded by the beauty of Mother Nature in Marin County, Northern California.
  <br><br>
  I’m a certified Yoga- and Pilates teacher, Reiki practitioner, Intuitive Life coach and I facilitate women’s retreats, circles and workshops. I define myself as a holistic spiritual healer who reconnects women with their true-selves and guides women to live their most authentic and joyful lives. I work with a blend of intuitive energy reading and healing, movement through Yoga (Vinyasa and Yin), connecting with our inner world through meditation and visualization so we can bring harmony, joy and love for ourselves (back) into our lives.
  <br><br>
  In certain stages of their lives many women can feel “anchorless”, women go through multiple major transitions in their lives like becoming a mother, divorce or a breakup, miscarriage, postpartum depression, kids moving out, seeing and feeling our bodies change as we get older, menopause, feeling invisible and feeling lost or stuck in our lives. In these moments we need to take a step back and realize that our old self is going through a transformation and our “new” self isn’t fully born yet, that takes time and a lot of courage because we can’t bypass the inner work that needs to be done to go through such transformations and sometimes it can feel like you’re all alone going through this.
  <br><br>
  The women of today are given the message that we need to be strong, we need to step in our masculine energy, do everything on our own and not ask for help. Fewer women have the mental, emotional and physical support these days of a community of women and along with that for many women comes anxiety, loneliness, burn-out or depression. We women are programmed as women to commune with other women and it’s time to reconnect with our true nature, to tap back in with our divine feminine and reconnect with other women.
  <br><br>
  My mission is to hold a safe space for women to come together, to receive the emotional and physical support they need, having a tribe of women gives a woman the gift of being herself and knowing that she’s fully accepted without a need to be fixed.
---
{% include about-nance.html %}

{% include cta.html %}