---
layout: default
seo:
  title: Blog
  description:
  social_image: /assets/uploads/d30d4e4e-2440-40cc-8839-57f488c2b818.jpeg
  twitter_card:
  keywords:
  hide-from-google: true
---

{% include overlay_header.html case="blog" %}

<!--------Blog Loop --------> 
<section class="pb-40">
  <div class="flex justify-end">
    <a href="/blog-archive.html" class="btn editable btn-secondary"> All Posts </a>
    <!-- Creates a Daisy UI dropdown and calls tagFilter.js  -->
    {% include tag-filter.html %}
  </div>
  <div class="max-w-screen-xl pb-8 mx-auto md:columns-3">

    {% assign selected_tag = page.selected_tag %}
      
    {% for post in site.posts limit:12 %}
      {% if selected_tag == nil or post.tags contains selected_tag %}
        {% include post-loop.html %}
      {% endif %}
    {% endfor %}
    
  </div>
</section> 