---
layout: default
seo:
  title: Blog
  description:
  social_image: /assets/uploads/d30d4e4e-2440-40cc-8839-57f488c2b818.jpeg
  twitter_card:
  keywords:
  hide-from-google: true
---
<!-- Liquid to gather the tags -->
{% assign all_tags = '' %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% unless all_tags contains tag %}
      {% assign all_tags = all_tags | append: tag | append: ',' %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign unique_tags = all_tags | split: ',' | uniq %}


{% include overlay_header.html case="blog" %}

<!--------Blog Loop --------> 
<section>
  
  <div class="max-w-screen-xl pb-8 mx-auto md:columns-3">

    {% assign selected_tag = page.selected_tag %}
      
    {% for post in site.posts limit:12 %}
      {% if selected_tag == nil or post.tags contains selected_tag %}
        {% include post-loop.html %}
      {% endif %}
    {% endfor %}

  </div>

  <a href="/blog-archive.html" class="btn editable btn-secondary"> All Posts </a>
  {% include tag-filter.html %}
</section> 