---
layout: default
seo:
  title: 'Offerings '
  description: >-
    Discover a spectrum of transformative offerings at NL Healing designed to
    nurture your mind, body, and soul.
  social_image:
  twitter_card:
  keywords: Yoga, Retreat, coaching, reiki
  hide-from-google: false
---
{% include overlay_header.html case="services" %}

<!-- Services Loop w/ Alternating Cycle-->
<div class="md:pt-8">
  {% assign service = site.services | sort: 'order' %}
  {% for s in service %}
  <div class="md:py-8 {% cycle '','bg-neutral' %}">
    <!-- 5 Col Grid -->
    <div class="grid items-center md:grid-cols-5">
      
      <!-- 2 Span Image -->
      <div class="md:col-span-2 {% cycle '','md:order-last' %} grid">
        <img src="{{ s.image }}" alt="{{ s.name }}" class="lg:w-[90%] {% cycle '','justify-self-end' %} object-cover aspect-[4/3]" />
      </div>

      <!-- 3 Span Description -->
      <div class="md:col-span-3 p-8 {% cycle '','lg:ml-16' %} flex flex-col md:items-start items-center">
        <h2 class="pb-2 border-b md:inline-block md:pr-16 border-accent">{{ s.seo.title }}</h2>
        <div class="w-[86%] flex-col">
          <p class="py-4">{{ s.description }}</p>
          <!-- btns -->
          <div class="flex justify-between text-xl max-sm:flex-col">
            <a href="{{ s.btn_link }}" class="mt-2 btn btn-secondary">Let's Do This</a>
            <a href="{{ s.url }}" class="mt-5 font-serif max-sm:text-right">Learn More <i class="mx-4 fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% include cta.html %}