---
layout: default
seo:
  title: Services
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

{% include overlay_header.html case="services" %}

<!-- Services Loop -->
<div class="pt-8">
  {% assign service = site.services | sort: 'order' %}
  {% for s in service %}
  <div class="py-8 {% cycle '','bg-neutral' %}">
    <div class="grid grid-cols-5 items-center max-h-[40rem]">
      <div class="col-span-2 {% cycle '','order-last' %} grid">
        <img src="{{ s.image }}" alt="{{ s.name }}" class="w-[80%] {% cycle '','justify-self-end' %} ">
      </div>
      <div class="col-span-3 p-8 text-secondary {% cycle '','md:ml-16' %}">
        <h2 class="inline-block pb-2 pr-16 border-b border-accent">{{ s.seo.title }}</h2>
        <div class="w-[86%] flex-col">
          <p class="py-4">{{ s.description }}</p>
          <div class="flex justify-between text-xl">
            <a href="{{ s.link }}" class="mt-2 btn btn-secondary">Let's Do This</a>
            <a href="{{ s.link }}" class="mt-5 font-serif">Learn More <i class="mx-4 fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% include cta.html %}