---
layout: default
seo:
  title: Services
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!-- Hero Banner -->
<div class="relative mb-4">
  <img src="/assets/images/services_banner.jpg" alt="Services Banner" class="object-cover w-full h-[50vh]">
  <div class="absolute inset-0 flex flex-row items-center p-4 text-left justify-left bg-opacity-30 bg-accent">
    <div class="self-center max-w-4xl p-5p">  
      <h1 class="pb-4">Services</h1>
      <hr class="pb-4 -ml-24 w-[48%]">
      <p class=" editable">Discover a spectrum of transformative offerings at NL Healing designed to nurture your mind, body, and soul. Our tailored coaching sessions provide personalized guidance, while Reiki sessions offer holistic energy healing. Engage in our empowering events and retreats crafted to inspire growth, connection, and inner harmony. Explore our diverse services, each dedicated to guiding you on your unique journey towards self-discovery and empowerment.</p>
    </div>
  </div>
  <div class="absolute flex flex-row justify-center space-x-12 -bottom-6 inset-x-10">
    {% assign service-hero = site.data.nav | where: 'hero', 'true' %}
    {% for s in service-hero %}
      <div class="w-[15vw] py-4 bg-primary text-secondary font-serif">
        <a href="{{ s.link }}"><h6 class="text-center">{{ s.name }}</h6></a>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Services Loop -->
<div class="">
  {% assign service = site.services | sort: 'order' %}
  {% for s in service %}
    <div class="grid grid-cols-5 gap-8 w-full py-24 items-center {% cycle '','bg-neutral' %}">
      <img src="{{ s.image }}" alt="{{ s.name }}" class="col-span-2 object-cover h-full mb-4 aspect-landscape {% cycle '','order-last' %}">
      <div class="col-span-3 p-8 text-secondary {% cycle 'md:mr-48','md:ml-48' %}">
        <h2 class="inline-block pb-2 pr-16 border-b border-accent">{{ s.seo.title }}</h2>
        <p class="py-4">{{ s.description }}</p>
        <div class="flex justify-between">
          <a href="{{ s.link }}" class="mt-2 btn btn-secondary">Let's Do This</a>
          <a href="{{ s.link }}" class="mt-2 font-serif">Learn More -></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% include cta.html %}