<!-- include about-nance -->
<section class="flex flex-wrap items-center pt-12 md:flex-nowrap mx-scrn">
  
  <!-- Image Column -->
  <div class="relative grid self-start mx-4 md:w-1/2">
    <img alt="Nance" class="justify-self-start aspect-portrait editable" src="/assets/uploads/7e4fcadb-5b9b-4234-af27-eb8f9d3a7235.jpg" />
    <!-- Line Element Below Photo -->
    <div id="line-box" class="h-28">
      {% for i in (1..3) %}
        <div class="deco-lines border-accent {% cycle 'w-full top-4','top-12 w-[80%]','top-20 w-[70%]'%}"></div>
      {% endfor %}
    </div>
  </div>

  <!-- Text Column -->
  {% if include.case == "home-pg" %}
  <!-- home -->
  <div class="self-start pt-0 md:ml-8 p-5p md:w-1/2 md:mt-0 text-secondary">
    <h2 class="font-medium editable">I’m Nance,</h2>
    <h5 class="mb-2 editable">A Holistic Spiritual Healer</h5>
    <p class="max-w-xl mb-6">{{ page.about-copy_html }}</p>
    <a href="/about" class="mt-4 btn btn-accent editable">Learn More</a>
  </div>
  {% else %}
  <!-- not home -->
  <div class="self-center md:w-2/3 md:mt-0 md:ml-8 text-secondary">
    <h2 class="mb-4 font-medium editable">I’m Nance,</h2>
    <h4 class="mb-4 editable">A Holistic Spiritual Healer</h4>
    <p class="max-w-3xl mb-6">{{ page.about-copy_html }}</p>
  </div>
  {% endif %}
</section>