<div class="flex items-center justify-center mx-scrn">
    <div class="w-3/5 p-8 text-secondary">
      <p class="mb-2 text-xs">
        {% for item in page.tags %}
            <span class="mr-2 tag bg-neutral"> {{item}} </span>
        {% endfor %}
      </p>
      <p class="mb-2 normal-case text-small"> {{page.date | date: "%B %-d, %Y" }} </p>
      <h4 class="inline-block pb-4 pr-16 border-b border-primary">{{ page.title }}</h4>
      <p class="py-4">{{ page.description }}</p>
    </div>
    <img src="{{ page.featured_image }}" alt="{{page.seo.title}} Image" class="object-cover w-2/5 aspect-[3/2]">
</div>