<!-- include MC_form -->
<div id="mc_embed_shell">
    <div id="mc_embed_signup">
        <form action="https://gmail.us21.list-manage.com/subscribe/post?u=692461eab9f18fe15f5820a9a&amp;id=b2ee49d941&amp;f_id=00c2fae6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="grid max-w-2xl mx-auto text-left validate" target="_self" novalidate="">
            
            <!-- <div id="mc_embed_signup_scroll"> -->
                <!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
                
                <!--------- Name -------->
                <!-- <div class="mc-field-group"> -->
                    <label for="mce-FNAME" class="ml-2 font-serif capitalize">Name </label>
                    <input type="text" name="FNAME" class="p-2 mb-4 bg-transparent border-2 border-secondary text" id="mce-FNAME" value="">
                <!-- </div> -->

                <!------- Email -------->
                <!-- <div class="mc-field-group"> -->
                    <label for="mce-EMAIL" class="ml-2 font-serif capitalize">Email<span class="asterisk">*</span></label>
                    <input type="email" name="EMAIL" class="p-2 mb-4 bg-transparent border-2 required email border-secondary" id="mce-EMAIL" required="" value="">
                <!-- </div> -->

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <!-- Hidden Input for Spambots -->
                <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_692461eab9f18fe15f5820a9a_b2ee49d941" tabindex="-1" value=""></div>
                
                <div class="mt-4 text-center clear">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-accent btn-wide" value="Subscribe">
                </div>
            <!-- </div> -->
        </form>
    </div>
</div>