<!-- include contact_form -->
<div class="relative text-center p-5p text-accent bg-primary" id="contact_form">
    <h2 class="mb-6 capitalize editable">Join The Community</h2>
    <h6 class="editable">Sign Up to Receive retreat & event updates</h6>
    <form class="grid max-w-2xl pt-4 mx-auto text-left" method="post" action="#" id=""> 
        <!--------- Name -------->
        <label for="name" class="uppercase font-headings"> Name </label>
        <input type="text" id="name" name="name" class="p-2 mb-2 bg-transparent border-t-2 border-secondary" />

        <!------- Email -------->
        <label for="email" class="uppercase font-headings"> Email </label>
        <input type="email" id="email" name="email" class="p-2 mb-2 bg-transparent border-t-2 border-secondary" />

        <input type="hidden" name="inbox_key" value="contact_form">
        <input type="text" name="_gotcha" style="display: none;">

        <div class="text-center"> <input class="btn btn-accent" type="submit" value="Submit" id="submitBtn"/> </div>
    </form>
    <div class="pt-4">
        <h4 class="font-sans capitalize">Looking for something else?</h4>
        <h6>Submit an inquiry or
        <a href="mailto:nance.sf@gmail.com">Email: nance.sf@gmail.com</a></h6>
    </div>
    <div id="thank_you" style="display: none;">
        <div class="absolute bottom-4 left-4">
            <h3>Thanks for connecting!</h3> 
            <p>I’ll get back to you as soon as I can.</p>
        </div>
    </div>
</div>

