<!-- include contact_form -->
<div class="relative p-6 text-center text-accent" id="contact_form">
    <form class="grid max-w-2xl mx-auto text-left" method="post" action="#" id=""> 
        <!--------- Name -------->
        <label for="name" class="ml-2 font-serif capitalize"> Name </label>
        <input type="text" id="name" name="name" class="p-2 mb-4 bg-transparent border-2 border-secondary" />

        <!------- Email -------->
        <label for="email" class="ml-2 font-serif capitalize"> Email </label>
        <input type="email" id="email" name="email" class="p-2 mb-4 bg-transparent border-2 border-secondary" />

        <!------- Subject -------->
        <label for="subject" class="mt-2 ml-2 font-serif capitalize">Topic</label>
        <input list="topic-list" id="subject" name="subject" placeholder="select subject" class="p-2 pl-4 mb-4 bg-transparent border-2 border-secondary"/>
            <datalist class="font-serif" id="topic-list">
                <option value="Coaching"></option>
                <option value="Reiki"></option>
                <option value="Events"></option>
                <option value="Retreat"></option>
                <option value="Other"></option>
            </datalist>

        <!------- Message -------->
        <label for="message" class="mt-4 ml-2 font-serif capitalize"> Message </label>
        <textarea type="text" id="message" name="message" class="p-2 mb-4 bg-white border-2 border-secondary"></textarea>

        <input type="hidden" name="inbox_key" value="contact_form">
        <input type="text" name="_gotcha" style="display: none;">

        <!-------Checkbox -------->
        <div class="flex">
            <input type="checkbox" id="newsletter" class="p-2 mb-8" name="newsletter" value="subscribed">
            <label for="newsletter" class="pb-8 ml-2 font-serif capitalize"> <span class="editable">Sign Up to Receive retreat & event updates </span> </label>
        </div>


        <div class="text-center"> <input class="btn btn-accent" type="submit" value="Submit" id="submitBtn"/> </div>

    </form>
    
    <div id="thank_you" style="display: none;">
        <div class="absolute bottom-4 left-4">
            <h3>Thanks for connecting!</h3> 
            <p>I’ll get back to you as soon as I can.</p>
        </div>
    </div>
</div>

