<!-- include cta -->
<div class="relative text-base-100">
  <img src="/assets/images/retreat_banner.jpg" alt="Retreat" class="object-cover min-h-[50vh] md:max-h-[50vh]">
  <div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-center bg-opacity-40 bg-accent">
    <h2 class="max-sm:text-5xl editable">Coming Home To Yourself Retreat</h2>
    <h6 class="mt-4 font-extralight editable">Spirit Camp, CA | April 19-22, 2024</h6>
    <a href="/events/discover-the-path" class="mt-2 btn btn-base-100 editable">Retreat Details</a>
  </div>
</div>