<!-- include events_loop -->
{% assign event = site.events %}

{% if include.case == "upcoming" %}
<!-- Upcoming Events -->
<div class="flex flex-col justify-center py-8 text-secondary mx-scrn">  
  <h2 class="text-center">Upcoming Events</h2>
  <div class="grid grid-cols-1 gap-16 p-8 md:grid-cols-3 justify-items-center">
    {% for i in event %}
    <a href="{{i.url}}">
      <img src="{{i.image}}" alt="{{i.title}} Image" class="object-contain max-h-[44vh]">
      <div class="w-full text-center">
        <h6 class="inline-block px-4 py-1 pt-3 font-serif border-b border-secondary">{{i.title}}</h6>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% else %}
<!-- Events Page Grid -->
<div class="flex flex-col p-5p text-secondary">  
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 justify-items-center">
    {% for i in event %}
    <div class="grid mt-2">
      <a href="{{i.url}}">
        <div class="w-full text-center">
          <p class="font-light">{{ i.date | date: "%B %e, %Y" }}</p>
          <h6 class="py-2">{{i.title}}</h6>
        </div>
        <hr class="border-b-2 w-[110%] -ml-[5%] border-accent">
        <img src="{{i.image}}" alt="{{i.title}} Image" class="object-contain max-h-[44vh] mt-4">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}