<!-- include events_loop -->
<div class="flex flex-col p-5p text-secondary">  
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 justify-items-center">
    {% assign event = site.events %}
    {% for i in event %}
    <div class="grid">
      <img src="{{i.image}}" alt="{{i.title}} Image" class="object-contain max-h-[44vh]">
      <div class="w-full pt-6 text-center">
        <p class="font-light">{{ i.date | date: "%B %e, %Y" }}</p>
        <h6 class="py-2">{{i.title}}</h6>
      </div>
      <hr class="border-b-2 w-[110%] -ml-[5%] border-accent">
    </div>
    {% endfor %}
  </div>
</div>