<!-- include overlay_header.html -->
{% assign header-height = "max-sm:min-h-[65vh] max-h-[55vh]"%}
{% assign overlay-opacity = "bg-opacity-40"%}

<div class="relative sm:mb-3 text-base-100">

{% case include.case %}
{% when "services" %}
<!---------------- Service Page Header ------------------>
  <img src="/assets/images/services_banner.jpg" alt="Services Banner" class="object-cover {{header-height}}">
  <div class="ovlay_header-content {{overlay-opacity}}">
    <div class="self-center max-w-4xl p-5p" id="line-box">  
      <h1>Services</h1>
      <div class="w-[42%] deco-lines border-base-100"></div>
      <p class="py-4 editable">Discover a spectrum of transformative offerings at NL Healing designed to nurture your mind, body, and soul. Our tailored coaching sessions provide personalized guidance, while Reiki sessions offer holistic energy healing. Engage in our empowering events and retreats crafted to inspire growth, connection, and inner harmony. Explore our diverse services, each dedicated to guiding you on your unique journey towards self-discovery and empowerment.</p>
    </div>
  </div>

  <div class="container absolute flex flex-row justify-center space-x-12 -bottom-10 inset-x-10 max-md:hidden">
    {% assign service-hero = site.data.nav | where: 'hero', 'true' %}
    {% for s in service-hero %}
      <div class="w-[15vw] py-3 bg-primary text-secondary font-serif hover:scale-105">
        <a href="{{ s.link }}"><h6 class="pb-0 text-center">{{ s.name }}</h6></a>
      </div>
    {% endfor %}
  </div>

{% when "blog" %}
<!---------------- Blog Page Header ------------------>
  <img src="/assets/images/blog_banner.jpg" alt="Blog Banner" class="object-cover {{header-height}}">
  <div class="ovlay_header-content {{overlay-opacity}}">
    <div class="self-center max-w-4xl p-5p" id="line-box">  
      <h1 class="editable">Blog</h1>
      <div class="w-[42%] deco-lines border-base-100"></div>
      <p class="pt-4 editable"> Welcome to the NL Healing blog, a vibrant space where we delve into the realms of self-discovery, holistic wellness, and empowerment. Here, we explore diverse topics from nurturing self-care practices to navigating life's transitions with resilience and grace. Join us on this insightful journey as we share empowering stories, wellness tips, and guidance aimed at nurturing your mind, body, and spirit. Let's embark together on a path of self-discovery and empowerment.</p>
    </div>
  </div>

{% when "events" %}
<!---------------- Events Page Header ------------------>
  <img src="/assets/images/events_banner.png" alt="Events Banner" class="object-cover {{header-height}}">
  <div class="ovlay_header-content {{overlay-opacity}}">
    <div class="self-center max-w-4xl p-5p" id="line-box">  
      <h1>Events</h1>
      <div class="w-[42%] deco-lines border-base-100"></div>
      <p class="pt-4 editable">Join me for empowering events where women's circles become a nurturing space for authentic connections and mutual empowerment. Immerse yourself in tranquil sessions of Yin Yoga, guiding us to explore deeper layers of self-awareness and inner balance. These events are meticulously crafted to foster a sense of community, encouraging profound self-discovery, and nurturing an environment where we uplift each other on our transformative journeys.</p>
    </div>
  </div>

{% when "contact" %}
<!---------------- Contact Page Header ------------------>
  <img src="/assets/images/contact_banner.jpg" alt="Contact Banner" class="object-cover {{header-height}}">
  <div class="ovlay_header-content justify-center {{overlay-opacity}}">
    <div class="self-center text-base-100">
      <h1 class="text-center">Get In Touch</h1>
      <hr>
    </div>
  </div>

{% endcase %}
</div>