<a class="block p-2 mb-4 post-item break-inside-avoid transition-shadow duration-300 shadow-lg hover:shadow-2xl" href="{{ post.url }}">
    <p class="mb-2 text-xs">
        {% for item in post.categories %}
            <span class="mr-2 tag bg-neutral"> {{item}} </span>
        {% endfor %}
    </p>
    <div class="bg-cover aspect-square"
    style="background-image:url( '{{ post.featured_image }}');"></div>
    <div class="relative p-4 text-center border-b-2 border-l-2 border-r-2 border-accent bg-neutral">
        <p class="text-xs">{{post.date | date: "%B %-d, %Y" }} </p>
        <h5 class="text-2xl font-medium"> {{ post.title }} </h5>
        <p class="text-sm">{{post.description}} </p>
    </div>
</a>