<!-- include retreat_content -->
<section class="py-6 text-center mx-scrn max-sm:px-2">
  
  <!-- Heading -->
  <h4 class="pb-12 sm:px-10 editable">If you are ready to discover the path back home to your true self, to remember
    and own the full messy and glorious truth of who you are, then this retreat is
    for you…</h4>

  <!-- Description -->
  <div class="grid md:grid-cols-2 sm:px-4">
    <div class="text-left md:ml-10 editable">
      <p>Join us for a transformative three-night escape at Spirit Camp in Mendocino, where we'll embark on a profound journey to rediscover your authentic self. Immerse yourself in a serene setting enveloped by majestic redwoods, offering a perfect blend of nature's embrace and modern comforts.</p>
      <br>
      <p>In today's fast-paced world, it's easy to feel disconnected from our true selves. Many women lack the empowering support of a community, and that's where our retreat shines. We're reviving the age-old tradition of women coming together, rediscovering the power of community and self-acceptance.</p>
      <br>
      <p>Our retreat will be held over three nights surrounded by the redwoods, immersed in nature but with the conveniences of Wi-Fi, cozy sheets, linen bedding, and an eye for detail in every single space. This retreat will create a sanctuary where you can unplug, rejuvenate, and embrace your vulnerabilities in a safe and supportive environment.</p>
      <br>
      <p>Join us in exploring ancient Yoga philosophy that unveils your inner Peace, Joy, Wisdom, and Love—the essence of your True Self. Together, we'll navigate the transformative path toward rediscovering and embracing the beautiful, authentic you.</p>
    </div>
    <!-- Image -->
    <div class="px-6">
      <img src="{{ page.image }}" alt="Retreat Image" class="object-cover aspect-portrait h-[60vh]">
    </div>
  </div>

  <!-- Second Heading -->
  <h4 class="p-4 sm:px-10">Give yourself the gift of reconnecting with your internal compass to find
    clarity in all areas of your life.</h4>
  
  <!-- CTA Button -->
  <a href="#" class="mt-2 btn btn-accent" role="button">Sign Me Up</a>
</section>