<!-- include service_header.html -->
{% if include.case == "services" %}
<div class="relative mb-4">
  <img src="/assets/images/services_banner.jpg" alt="Services Banner" class="object-cover w-full h-[50vh]">
  <div class="absolute inset-0 flex flex-row items-center p-4 text-left justify-left bg-opacity-30 bg-accent">
    <div class="self-center max-w-4xl p-5p">  
      <h1 class="pb-4">Services</h1>
      <hr class="pb-4 -ml-24 w-[48%]">
      <p class=" editable">Discover a spectrum of transformative offerings at NL Healing designed to nurture your mind, body, and soul. Our tailored coaching sessions provide personalized guidance, while Reiki sessions offer holistic energy healing. Engage in our empowering events and retreats crafted to inspire growth, connection, and inner harmony. Explore our diverse services, each dedicated to guiding you on your unique journey towards self-discovery and empowerment.</p>
    </div>
  </div>
  <div class="absolute flex flex-row justify-center space-x-12 -bottom-6 inset-x-10">
    {% assign service-hero = site.data.nav | where: 'hero', 'true' %}
    {% for s in service-hero %}
      <div class="w-[15vw] py-4 bg-primary text-secondary font-serif">
        <a href="{{ s.link }}"><h6 class="text-center">{{ s.name }}</h6></a>
      </div>
    {% endfor %}
  </div>
</div>

{% else %}
<div class="relative mb-4">
  <img src="/assets/images/events_banner.png" alt="Events Banner" class="object-cover w-full h-[50vh]">
  <div class="absolute inset-0 flex flex-row items-center p-4 text-left justify-left bg-opacity-30 bg-accent">
    <div class="self-center max-w-4xl p-5p">  
      <h1 class="pb-4">Events</h1>
      <hr class="pb-4 -ml-24 w-[48%]">
      <p class="editable">Join me for empowering events where women's circles become a nurturing space for authentic connections and mutual empowerment. Immerse yourself in tranquil sessions of Yin Yoga, guiding us to explore deeper layers of self-awareness and inner balance. These events are meticulously crafted to foster a sense of community, encouraging profound self-discovery, and nurturing an environment where we uplift each other on our transformative journeys.</p>
    </div>
  </div>
</div>
{% endif %}