<header class="flex flex-row justify-center mx-scrn">
  <nav class="flex items-center justify-around py-4 font-serif text-secondary">

    {% assign header_nav = site.data.nav | where: 'main_nav', true %}
    <!-- Left Side Navigation Links -->
    <div class="flex lg:pr-12 md:pr-4 lg:space-x-28 md:space-x-16">
      {% for item in header_nav limit:3 %}
        <div class="relative group">
          <a href="{{ item.link }}" class="text-lg hover:text-primary">{{ item.name }}</a>
          {% if item.sublinks %}
            <div class="absolute z-30 hidden group-hover:block bg-neutral">
              {% for subitem in item.sublinks %}
                <a href="{{ subitem.link }}" class="block px-4 py-2 hover:bg-secondary hover:text-neutral">{{ subitem.name }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <!-- Center Logo -->
    <div class="shrink-0">
      <a href="/"><img src="/assets/images/logo_light-bg.png" alt="NL Healing Logo" class="mx-auto h-36"></a>
    </div>

    <!-- Right Side Navigation Links -->
    <div class="flex lg:pl-12 md:pl-4 lg:space-x-28 md:space-x-16">
      {% for item in header_nav offset:3 limit:3 %}
        <a href="{{ item.link }}" class="text-lg hover:text-primary">{{ item.name }}</a>
      {% endfor %}
    </div>
  </nav>
</header>