<!-- include social-share -->
<div class="fixed top-[50%] left-0 bg-accent p-2 z-40">

    <nav class="text-primary">
        <a class="block p-2 hover:text-neutral" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" aria-label="Share on Facebook">
            <i class="iconoir-facebook"></i>
        </a>
        <!-- Other Social Share Links --
        
            <a class="block p-2 hover:text-neutral" aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="iconoir-twitter"></i>
        </a>
        <a class="block p-2 hover:text-neutral" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" aria-label="Share on Facebook">
            <i class="iconoir-instagram"></i>
        </a>
        <a class="block p-2 hover:text-neutral" href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest" aria-label="Share on Pinterest">
            <i class="iconoir-pinterest"></i>
        </a> 
        -->        
    </nav>
</div>
