<!-- include tetsimonial.html -->
<section class="relative text-center" >
  <div class="absolute inset-0 bg-center bg-cover opacity-50 bg-neutral bg-blend-overlay" style="background-image: url('assets/images/testimonial_banner.jpg');"></div>
  <h3 class="relative z-20 mb-4 text-secondary">What They're Saying</h3>

  <!-- Slick Slider (http://kenwheeler.github.io/slick/) --
  -- requires: slick-slider.js + _data/testimonials.yml -->
  <div class="relative z-20 p-4 mx-auto testimonial-slider-container mx-scrn">
    {% for i in site.data.testimonials %}
    <div class="text-center text-secondary">
        <h6 class="pb-4">"{{ i.quote_html }}"</h6>
        <span class="text-2xl">~ {{ i.name }}</span>
    </div>
    {% endfor %}
  </div>
</section>