<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>    
    {% include site_header.html %}

    {{content}}

    {% include site_footer.html %}

    <!-- Jquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Slick -->
    <script type="text/javascript" src="/slick-slider.js"></script>

    <!-- Javascript  -->
    <script src="/main.js"></script>
</body>
</html>