---
layout: default
---
<!-- Service_Hero Component -->
{% include service_hero.html %}

<!-- What to Expect -->
<section class="text-accent bg-neutral" id="what-to-expect">
  <div class="mx-scrn">
    <h2 class="text-center max-md:text-5xl editable max-md:pb-4">What to Expect</h2>
    
    <!-- Page Content -->
    <div class="grid pt-2 md:grid-cols-3">
      <!-- Approach -->
      <h4 class="col-span-full editable">
          Every event is meticulously crafted to foster a sense of community, encouraging profound self-discovery, and nurturing an environment where we uplift each other on our transformative journeys.&nbsp;
      </h4>
      <div class="border-t lg:col-span-2 col-span-full border-base-100">
        {% for item in page.expectations %}
          <ul class="pt-4">
            <li><i class="mt-1 mr-2 align-top fas fa-arrow-right text-base-100"></i><span class="inline-block md:ml-4 md:w-[90%]">{{ item }}</span></li>
          </ul>
        {% endfor %}
      </div>
      <!-- Investment -->
      <div class="flex flex-col items-center justify-center p-6 mt-4 md:mx-24 lg:mx-12 bg-base-100 max-lg:col-span-full lg:mt-0">
        <h6 class="font-serif editable">
            Upcoming Events<a href="/events.html">...</a>
        </h6>
        {% for cost in page.investment %}
          <span>{{ cost }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Big Button -->
  <div class="mt-8 text-center">
    <a href="/contact.html" class="inline-block px-6 py-4 font-serif text-2xl capitalize md:px-12 bg-secondary text-base-100">
      Schedule My Free Consultation Call
    </a>
  </div>

</section>

{% include testimonial.html %}

{% include events_loop.html case="upcoming"%}